:root {
  --primary-color: #333333;
  --highlight-color: #ea7158;
}

.App {
  color: var(--primary-color);
  border-color: rgb(247,247,247);
  outline-color: rgb(167,237,219);
  box-shadow: 0 0 0 rgb(102,102,102);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progress {
  border-radius: 1rem;
  transition: ease-in-out;
  transition-delay: 2s;
  transition-duration: 24s;
}

.nav-link-span:hover:not(.brand) {
  color: rgb(38, 183, 212);
  transition: 0.5s ease-in color;
}

#projects::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  min-height: 75px;
}

#language-dropdown {
  padding: 8px;
}

#home {
  margin-top: 75px;
  height: calc(100vh - 75px);
  max-width: 700px;
}

#about, #projects, #experience {
  padding-top: 75px;
}

#projects a,
#about a {
  text-decoration: none;
  font-weight: bolder;
}

#about a:hover {
  text-decoration: underline;
}

#about a {
  color: var(--highlight-color);
}

#about a.in {
  color: rgb(41,89,181);
}

#home img {
  box-shadow: 0px 0px 10px rgb(102, 102, 102);
}

#contact {
  min-height: 400px;
  max-width: 600px;

  button {
    min-width: 130px;
  }
}

#contact a button:hover{
  border-color: var(--highlight-color);
  background-color: var(--highlight-color);
}

#footer {
  height: 30vh;
}

#footer a {
  font-size: 24px;
}

.designed-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: white;
  padding: 40px 0;

  img {
    margin: 0 5px;
  };
}

@media (min-width: 992px) {
  .width-75 {
    width: 75%;
    margin: 0 auto;
  }
  
  .width-50 {
    width: 50%;
    margin: 0 auto;
  }
}

.experience {
  padding: 1.5rem;

  h4, h6 {
    margin: 0;
  }

  span {
    color: gray;
    font-size: 12px;
    line-height: 12px;
  }

  ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 0;
      margin: 8px 0;
    }
    
    li::before {
      content: '➔';
      color: var(--highlight-color);
      margin-right: 5px;
    }
  }
}

.upEffect {
  position: relative;
  animation-name: siri2;
  animation-duration: 2s;
}

.downEffect {
  position: relative;
  animation-name: siri;
  animation-duration: 2s;
}

@keyframes siri {
  0% {
    top: -5vh;
  }
  100% {
    top: 0;
  }
}

@keyframes siri2 {
  0% {
    top: 5vh;
  }
  100% {
    top: 0;
  }
}

.btn.btn-outline-dark:hover {
  background-color: transparent !important;
  color: black;
  cursor: default;
}
