.App {
  color: rgb(51,51,51);
  /* background-color: rgb(112,112,112); */
  border-color: rgb(247,247,247);
  outline-color: rgb(167,237,219);
  box-shadow: 0 0 0 rgb(102,102,102);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progress {
  border-radius: 1rem;
  transition: ease-in-out;
  transition-delay: 2s;
  transition-duration: 24s;
}

.nav-link-span:hover:not(.brand) {
  color: rgb(38, 183, 212);
  transition: 0.5s ease-in color;
}

#project::-webkit-scrollbar {
  display: none;
}

/* rgb(51,51,51) */
/* rgb(112,112,112) */
/* rgb(247,247,247) */
/* rgb(167,237,219) */
/* rgb(102,102,102) */

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  min-height: 75px;
}
/* HOME STYLE */
#home {
  margin-top: 75px;
  height: calc(100vh - 75px);
}

#about {
  padding-top: 75px;
}

#home img {
  box-shadow: 0px 0px 10px rgb(102, 102, 102);
}

#footer {
  height: 30vh;
}

#footer a{
  font-size: 24px;
}

.upEffect {
  position: relative;
  animation-name: siri2;
  animation-duration: 2s;
}

.downEffect {
  position: relative;
  animation-name: siri;
  animation-duration: 2s;
}

@keyframes siri {
  0% {
    top: -5vh;
  }
  100% {
    top: 0;
  }
}

@keyframes siri2 {
  0% {
    top: 5vh;
  }
  100% {
    top: 0;
  }
}
